<h1> Edit Track? </h1>

<%= render partial: "layouts/flash" %>

<form action="<%= track_url(@track.id) %>" , method="post" >
  <input type="hidden" name="_method" value="PATCH">
  <%= render partial: 'form', locals: { track: @track} %>
</form>
