<!DOCTYPE html>
<html>
<head>
  <title>Music</title>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <form method="post" action="<%= session_url %>" class="button_to">
    <input type="hidden" name="_method" value="delete" >
    <input type="submit" value="Logout" >
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" >
  </form>
<% end %>

<%= yield %>

</body>
</html>
