<h1> Edit the Album? </h1>

<%= render partial: "layouts/flash" %>

<form action="<%= album_url(@album.id) %>" , method="post" >
  <input type="hidden" name="_method" value="PATCH">
  <%= render partial: "form", locals: { album: @album} %>
</form>
