<form action="<%= new_track_note_url(track.id) %>"  method="get" >

  <textarea cols="150" rows="6" name="note[body]">New Comment! </textarea> <br>

  <input type="submit" value="New Comment">
</form>
